.input {
  width: 24em;
  border-radius: 0.5em;
  height: 1.5em;
  border: black solid 1px;
  margin: 1em;
  padding: 0.5em;
  background-color: lightgray;
  color: black;
}

.button {
  width: 12em;
  height: 2em;
  margin: 0.5em;
  cursor: pointer;
}
